@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto+Slab:wght@300&family=Russo+One&display=swap");
/* B9D6F2 */
/* 061A40 */
/* 0353A4 */
/* 006DAA */
/* 003559 */

body {
  font-family: "Russo One", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  background-color: #b9d6f2;
}

.container {
  max-width: 100%;
}

.header {
  background-color: #003559;
  color: white;
}

.header h1 {
  font-size: 2rem;
  padding: 0.5em;
  text-align: center;
}

.navigation {
  width: 100%;
  /* margin: 0 5px; */
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  background-color: #0353a4;
}

.navigation .icon {
  display: none;
}

.navigation li {
  display: inline;
  font-size: 1.25rem;
  margin: 1rem;
  padding: 0.5rem;
}

.navigation a {
  color: #b9d6f2;
  text-decoration: none;
}

.navigation a.active {
  border-bottom: 2px solid;
}

.navigation a:hover {
  /* text-decoration: underline; */
  border-bottom: 2px solid;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
  padding: 0;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero h2 {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blurb {
  padding: 1em;
  background-color: #b9d6f2;
}

.blurb p {
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  font-size: 1.25rem;
  padding: 0.5rem;
}

.footer {
  background-color: #003559;
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
  /* width: 100%; */
  padding: 1rem;
  text-align: center;
}

.blog-post {
  background-color: white;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid #003559;
}

.blog-title {
  font-size: 1.5rem;
  padding: 0.25rem;
}

.blog-content p {
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  padding: 0.5rem 0.25rem;
  line-height: normal;
}

.blog-info {
  color: #006daa;
  border-top: 1px solid #003559;
  /* TRouBLe Top Right Bottom Left */
  padding: 0.5rem 0.25rem 0 0.25rem;
}

.pokemon-image {
  margin: 1rem 2rem;
  text-align: center;
  background-color: white;
  padding: 1rem 0.25rem;
  border: 1px solid gray;
  border-radius: 1.5rem;
}

.pokemon-image .image-caption {
  padding-top: 0.5rem;
  color: #777;
}

.pokemon-info {
  padding: 0.2rem 2rem 1.5rem;
}

.pokemon-info h3 {
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
  text-align: center;
}
.pokemon-info p {
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
}

.pokemon-info p:first-of-type:first-letter {
  font-weight: bold;
  font-size: 1.5rem;
}

ul.pokemon-stats {
  border: 0.1rem solid #061a40;
  border-radius: 1rem;
  margin: 1.5rem 2rem 0.75rem;
  padding: 0.5rem;
  background-color: white;
}

ul.pokemon-stats li {
  font-family: "Major Mono Display", "Courier New", Courier, monospace;
  line-height: 200%;
  text-align: center;
}

.hidden {
  display: none;
}
